[project]
	description = A sound synthetizer, tracker and replayer, similar to AHX.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adrien Destugues (pulkomandy)
[access "refs/for/refs/*"]
	read = group user/Adrien Destugues (pulkomandy)
	push = group user/Adrien Destugues (pulkomandy)
	label-Code-Review = -2..+2 group user/Adrien Destugues (pulkomandy)
	label-Verified = -1..+1 group user/Adrien Destugues (pulkomandy)
	rebase = group user/Adrien Destugues (pulkomandy)
	removeReviewer = group user/Adrien Destugues (pulkomandy)
	submit = group user/Adrien Destugues (pulkomandy)
[access "refs/heads/*"]
	read = group user/Adrien Destugues (pulkomandy)
	create = group user/Adrien Destugues (pulkomandy)
	push = +force group user/Adrien Destugues (pulkomandy)
	pushMerge = group user/Adrien Destugues (pulkomandy)
[access "refs/tags/*"]
	push = group user/Adrien Destugues (pulkomandy)
	push = +force group user/Adrien Destugues (pulkomandy)
